<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>상세 페이지</h1>
  <hr>
  <!-- musician은 결국 인스턴스다. -->
  <h1>{{ musician }}</h1>
  <hr>
  <!-- 각 변수에 접근 할 수 있다. -->
  <p>{{ musician.name }}</p>
  <p>{{ musician.age }}</p>
  <hr>
  <a href="{% url 'musicians:index' %}">[BACK]</a>
  <a href="{% url 'musicians:update' musician.pk %}">[수정하기]</a>
  <a href="{% url 'musicians:delete' musician.pk %}">[삭제하기]</a>
  <hr>
  <ul>
    {% for album in albums %}
    <li>
      <p>앨범 명 : {{ album.title }}</p>
      <p>피쳐링 가수 : {{ album.featuring }}</p>
      <p>수록 곡 수 : {{ album.music_num }}</p>
      <p>발매일 : {{ album.release_date }}</p>
      <img src="{{ album.img }}" alt="">
      <form action="{% url 'musicians:album_delete' musician.pk album.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="앨범 삭제">
      </form>
    </li>
    {% endfor %}
  </ul>
  <hr>
  <form action="{% url 'musicians:album_create' musician.pk %}" method="POST">
    {% csrf_token %}
    {{ album_form }}
    <input type="submit" value="앨범등록">
  </form>
</body>
</html>